= form_for @feeditem do |f|
  - if @feeditem.errors.any?
    #error_explanation
      %h2= "#{pluralize(@feeditem.errors.count, "error")} prohibited this feeditem from being saved:"
      %ul
        - @feeditem.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
