%div.panel-group{"id" => "accordion"}
  - if @feeditem_list.nil?
    %p no item here
  - else
    - @feeditem_list.each_with_index do |feeditem, index|
      - $item_id = feeditem.id
      %div.panel{"id" => "panel#{$item_id}"}
        %div.panel-heading{"id" => "panelhead#{$item_id}"}
          %h4.panel-title
            %a.accordion-toggle{"data-toggle" => "collapse", "data-parent" => "#accordion", "href" => "#feed#{$item_id}", "id" => "acclink#{$item_id}"}
              = feeditem.post_title
        %div.panel-collapse.collapse{"id" => "feed#{$item_id}"}
          %div.panel-body
            .row{"id" => "postbody"}
              %p= feeditem.post_body.html_safe
            .row{"id" => "posttoolbar"}
              %div.btn-toolbar.pull-right
                %div.btn-group
                  = link_to "Mark as unread", mark_feed_unread_path(:feed_id => @feed_id, :post_id => feeditem.id), :type => "button", :id => "btn#{$item_id}",:class =>"btn btn-default", remote: true
                %div.btn-group
                  %button.btn.btn-default{"type" => "default"}
                    %i.icon-facebook
                  %button.btn.btn-default{"type" => "default"}
                    %i.icon-twitter
        :javascript
          $('#panel#{$item_id}').click(function() { $.get('mark_feed_viewed',{feed_id: #{@feed_id}, post_id: #{$item_id}}); }); 
          $('#panelhead#{$item_id}').click(function() {
              if($(this).hasClass("panel-heading"))
                $("#panelhead#{$item_id}").removeClass("panel-heading").addClass("panel-heading-read");;                 
               
              } ) ;
          $('#btn#{$item_id}').click(function() { 
          $('#acclink#{$item_id}').trigger('click');
              if($("#panelhead#{$item_id}").hasClass("panel-heading-read"))
                $("#panelhead#{$item_id}").removeClass("panel-heading-read").addClass("panel-heading");; 
           });

  - if @readfeeditem_list.nil?
    %p no item here
  - else
    - @readfeeditem_list.each_with_index do |feeditem, index|
      - $item_id = feeditem.id
      %div.panel{"id" => "panel#{$item_id}"}
        %div.panel-heading-read{"id" => "panelhead#{$item_id}"}
          %h4.panel-title
            %a.accordion-toggle{"data-toggle" => "collapse", "data-parent" => "#accordion", "href" => "#feed#{$item_id}", "id" => "acclink#{$item_id}"}
              = feeditem.post_title
        %div.panel-collapse.collapse{"id" => "feed#{$item_id}"}
          %div.panel-body            
            .row{"id" => "postbody"}
              %p= feeditem.post_body.html_safe
            .row{"id" => "posttoolbar"}
              %div.btn-toolbar.pull-right
                %div.btn-group
                  = link_to "Mark as unread", mark_feed_unread_path(:feed_id => @feed_id, :post_id => feeditem.id), :type => "button", :id => "btn#{$item_id}",:class =>"btn btn-default", remote: true
                %div.btn-group
                  %button.btn.btn-default{"type" => "default"}
                    %i.icon-facebook
                  %button.btn.btn-default{"type" => "default"}
                    %i.icon-twitter
        :javascript
          $('#panel#{$item_id}').click(function() { $.get('mark_feed_viewed',{feed_id: #{@feed_id}, post_id: #{$item_id}}); });
          $('#panelhead#{$item_id}').click(function() {
              if($(this).hasClass("panel-heading"))
                $("#panelhead#{$item_id}").removeClass("panel-heading").addClass("panel-heading-read");;                 
               
              } ) ;

          $('#btn#{$item_id}').click(function() { 
          $('#acclink#{$item_id}').trigger('click'); 
              if($("#panelhead#{$item_id}").hasClass("panel-heading-read"))
                $("#panelhead#{$item_id}").removeClass("panel-heading-read").addClass("panel-heading");; 
          });
          