%div.panel-group{"id" => "accordion"}
  - if @feeditem_list.nil?
    %p no item here
  - else
    - @feeditem_list.each_with_index do |feeditem, index|
      - $item_id = feeditem.id
      %div.panel{"id" => "panel#{$item_id}"}
        %div.panel-heading
          %h4.panel-title
            %a.accordion-toggle{"data-toggle" => "collapse", "data-parent" => "#accordion", "href" => "#feed#{$item_id}"}
              = feeditem.post_title
        %div.panel-collapse.collapse{"id" => "feed#{$item_id}"}
          %div.panel-body
            .row
              %div.btn-toolbar
                %div.btn-group
                  = link_to "Mark as unread", mark_feed_unread_path(:feed_id => @feed_id, :post_id => feeditem.id), :type => "button", :class =>"btn btn-default", remote: true
            .row
            .row
              %p= feeditem.post_body.html_safe
        :javascript
          $('#panel#{$item_id}').click(function() { $.get('mark_feed_viewed',{feed_id: #{@feed_id}, post_id: #{$item_id}}); }); 